/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header, footer {
    background-color: #004080;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffcc00;
  }
  
  footer p {
    text-align: center;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  footer ul li {
    margin: 0 1rem;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  footer ul li a:hover {
    color: #ffcc00;
  }
  